<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:allowBackup="false"
        android:label="NeumoNote"
        android:supportsRtl="true"
        android:theme="@style/Theme.NeumoNote">
        <activity
            android:name=".ui.edit.EditNoteActivity"
            android:exported="false" />
        <activity
            android:name=".ui.main.MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.login.LoginActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>